<%- include("header") %> 
    <div class="box" id="heading">
        <h1><%= listTitle %> list</h1>
        <% if (weekday){ %>
            <h1 style="color:red">Its <%=date%> today</h1>
        <% } else { %>
            <h1 style="color:green">Its <%=date%> today</h1>
        <% } %>
    </div>

    <div class="box">
        <% addedTasks.map((item) => { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value=<%=item._id%> onChange="this.form.submit()">
                    <p name="item"> <%= item.name %> </p>
                </div>
            </form>
        <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="newTask" autocomplete="off" placeholder="New Item">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
    </div>
    
<%- include("footer") %> 